In [1]:
import pandas as pd

### Download the data and load it to Pandas. 

You can find them [here](https://drive.google.com/file/d/1NY6cmF9Shjw-dD7BD6bNmfcIVz-kQcFR/view?usp=sharing).

In [2]:
titles = pd.read_csv('titles.csv', index_col=None)
titles.head()

                     title  year
0           The Rising Son  1990
1  The Thousand Plane Raid  1969
2         Crucea de piatra  1993
3                  Country  2000
4               Gaiking II  2011

In [3]:
cast = pd.read_csv('cast.csv', index_col=None)
cast.head()

                  title  year      name   type                character     n
0        Closet Monster  2015  Buffy #1  actor                  Buffy 4   NaN
1       Suuri illusioni  1985    Homo $  actor                   Guests  22.0
2   Battle of the Sexes  2017   $hutter  actor          Bobby Riggs Fan  10.0
3  Secret in Their Eyes  2015   $hutter  actor          2002 Dodger Fan   NaN
4            Steve Jobs  2015   $hutter  actor  1988 Opera House Patron   NaN

### Define a year as a "Superman year" whose films feature more Superman characters than Batman. How many years in film history have been Superman years?

In [4]:
cast2=cast
cast2['sup_vs_bat']=0

In [5]:
cast2['sup_vs_bat']=cast2.mask(cast2['character']=="Superman", int(1)).mask(cast2['character']=="Batman", int(-1)).mask((cast2['character']!="Batman")&(cast2['character']!="Superman"), int(0))

In [6]:
super_table=cast2.groupby('year')[['sup_vs_bat']].sum()

In [7]:
super_table[super_table.sup_vs_bat>0].size

11

### How many years have been "Batman years", with more Batman characters than Superman characters?

In [8]:
super_table[super_table.sup_vs_bat<0].size

26

### Count the number of actor roles each year and the number of actress roles each year over the history of film.

In [9]:
cast.year.value_counts()

2016    177729
2015    150490
2014    148393
2013    139470
2012    134493
         ...
1909         3
2025         2
1900         2
1905         1
2026         1
Name: year, Length: 123, dtype: int64

In [10]:
cast[cast.type=='actress'].year.value_counts()

2016    65318
2015    54811
2014    53516
2013    48718
2012    47179
        ...
2022       11
2023        5
2021        4
1906        3
1894        1
Name: year, Length: 117, dtype: int64

### Find the difference between the number of actor roles each year and the number of actress roles each year over the history of film.

In [11]:
cast4=cast
cast4['gender'] =0

In [12]:
cast4['gender'] = cast4.mask(cast4['type']=='actor', 1).mask(cast4['type']=='actress', -1)

In [13]:
cast4.groupby('year').gender.sum().sort_index()

year
1894     1
1900     2
1905     1
1906    11
1907     5
        ..
2021     5
2022     7
2023     1
2025     2
2026     1
Name: gender, Length: 123, dtype: int64

### What is the fraction of roles that have been 'actor' roles each year in the history of film.

In [18]:
(cast4[cast4.type=='actor'].year.value_counts())/(cast4.year.value_counts())

1894    0.666667
1900    1.000000
1905    1.000000
1906    0.823529
1907    1.000000
          ...
2021    0.692308
2022    0.620690
2023    0.545455
2025    1.000000
2026    1.000000
Name: year, Length: 123, dtype: float64

### What is the fraction of supporting (n=2) roles that have been 'actor' roles each year in the history of film.

In [22]:
(cast4[(cast4.type=='actor')&(cast4.n==2)].year.value_counts())/(cast4[cast4.n==2].year.value_counts())

1906    0.666667
1907    1.000000
1908    1.000000
1910    0.500000
1911    0.736842
          ...
2016    0.561779
2017    0.578637
2018    0.577465
2019    0.777778
2020    0.333333
Name: year, Length: 114, dtype: float64