In [3]:
import pandas as pd

### Download the data and load it to Pandas. 

You can find them [here](https://drive.google.com/file/d/1NY6cmF9Shjw-dD7BD6bNmfcIVz-kQcFR/view?usp=sharing).

In [4]:
titles = pd.read_csv('titles.csv', index_col=None)
titles.head()

                     title  year
0           The Rising Son  1990
1  The Thousand Plane Raid  1969
2         Crucea de piatra  1993
3                  Country  2000
4               Gaiking II  2011

In [5]:
cast = pd.read_csv('cast.csv', index_col=None)
cast.head()

                  title  year      name   type                character     n
0        Closet Monster  2015  Buffy #1  actor                  Buffy 4   NaN
1       Suuri illusioni  1985    Homo $  actor                   Guests  22.0
2   Battle of the Sexes  2017   $hutter  actor          Bobby Riggs Fan  10.0
3  Secret in Their Eyes  2015   $hutter  actor          2002 Dodger Fan   NaN
4            Steve Jobs  2015   $hutter  actor  1988 Opera House Patron   NaN

### What are the ten most common movie names of all time?

In [10]:
titles.title.mode()[0]

'Hamlet'

### Which three years of the 1930s saw the most films released?

In [33]:
list(titles[(titles.year>=1930)&(titles.year<=1939)].groupby('year').count().sort_values(by='title', ascending=False).head(3).index)

[1937, 1936, 1938]

In [119]:
list(titles[(titles.year>=1930)&(titles.year<=1939)].year.value_counts().head(3).index)

[1937, 1936, 1938]

In [120]:
list(titles[(titles.year//10*10==1930)].year.value_counts().head(3).index)

[1937, 1936, 1938]

### Count the number of films that have been released each decade over the history of cinema.

In [46]:
titles['decade']=titles['year']//10*10
titles.groupby('decade').title.count()

decade
1890        3
1900       37
1910     6512
1920     8797
1930    10097
1940     8576
1950    12711
1960    17515
1970    18714
1980    20243
1990    22225
2000    38713
2010    67977
2020      210
Name: title, dtype: int64

In [47]:
titles

                                       title  year  decade
0                             The Rising Son  1990    1990
1                    The Thousand Plane Raid  1969    1960
2                           Crucea de piatra  1993    1990
3                                    Country  2000    2000
4                                 Gaiking II  2011    2010
...                                      ...   ...     ...
232325                                 E yue  2005    2000
232326                          Lakota Girls  2015    2010
232327                        Kroniki domowe  1997    1990
232328                  Awakening the Zodiac  2017    2010
232329  Death in the Valley of Good and Evil  2018    2010

[232330 rows x 3 columns]

### Count the number of "Hamlet" films made each decade.

In [48]:
titles[titles.title=="Hamlet"].groupby('decade').title.count()

decade
1910    3
1920    1
1940    1
1950    1
1960    2
1970    2
1980    1
1990    2
2000    2
2010    3
Name: title, dtype: int64

In [52]:
(titles[titles.title=="Hamlet"].year//10*10).value_counts().sort_index()

1910    3
1920    1
1940    1
1950    1
1960    2
1970    2
1980    1
1990    2
2000    2
2010    3
Name: year, dtype: int64

### Count the number of "Rustler" characters in each decade of the history of film.

In [53]:
(cast[cast.character=="Rustler"].year//10*10).value_counts().sort_index()

1920     6
1930    84
1940    18
1950     8
1960     2
1970     9
1980     1
1990     4
2000     2
Name: year, dtype: int64

### Count the number of "Hamlet" characters each decade.

In [54]:
(cast[cast.character=="Hamlet"].year//10*10).value_counts().sort_index()

1910     6
1920     1
1930     6
1940     1
1950     3
1960     7
1970     8
1980     2
1990    11
2000    19
2010    28
Name: year, dtype: int64

### What are the 11 most common character names in movie history?

In [62]:
list(cast.character.value_counts().sort_values(ascending=False).head(11).index)

['Himself',
 'Dancer',
 'Extra',
 'Reporter',
 'Doctor',
 'Student',
 'Policeman',
 'Party Guest',
 'Nurse',
 'Bartender',
 'Minor Role']

### Who are the 10 people most often credited as "Herself" in film history?

In [67]:
(cast[cast.character=="Herself"]).name.value_counts().sort_values(ascending=False).head(10)

Queen Elizabeth II    11
Joyce Brothers         9
Margaret Thatcher      8
Mary Jo Pehl           7
Hillary Clinton        7
Sumie Sakai            6
Joan Rivers            6
Marilyn Monroe         5
Rekha                  5
Kareena Kapoor         5
Name: name, dtype: int64

### Who are the 10 people most often credited as "Himself" in film history?

In [68]:
(cast[cast.character=="Himself"]).name.value_counts().sort_values(ascending=False).head(10)

Adolf Hitler             100
Richard Nixon             46
Ronald Reagan             39
John F. Kennedy           34
Winston Churchill         24
Benito Mussolini          23
George W. Bush            23
Ron Jeremy                23
Martin Luther King        21
Franklin D. Roosevelt     20
Name: name, dtype: int64

### Which actors or actresses appeared in the most movies in the year 1945?

In [81]:
cast[(cast.year==1945)].name.value_counts().sort_values(ascending=False)

Emmett Vogan       39
Sam (II) Harris    32
Harold Miller      29
Bess Flowers       29
Nolan Leary        27
                   ..
Chick Alexander     1
Victor Hagen        1
Bertha Feducha      1
Dick Elmore         1
Avanelle Harris     1
Name: name, Length: 7802, dtype: int64

### Which actors or actresses appeared in the most movies in the year 1985?

In [82]:
cast[(cast.year==1985)].name.value_counts().sort_values(ascending=False)

Mammootty         22
Shakti Kapoor     21
Sukumari          20
Mohanlal          15
Raj Babbar        15
                  ..
Vini Bancalari     1
Paul Scofield      1
Brian Jay          1
Iris Mifsud        1
Ken Holman         1
Name: name, Length: 22609, dtype: int64

### How many roles Mammootty has played in each year of his career.

In [88]:
cast[(cast.name=='Mammootty')].year.value_counts().sort_index()

1971     1
1980     2
1981     3
1982     7
1983    18
1984    16
1985    22
1986    18
1987     9
1988     7
1989    10
1990    15
1991     6
1992     3
1993     5
1994     5
1995     5
1996     3
1997     2
1998     4
1999     4
2000     7
2001     3
2002     3
2003     2
2004     8
2005     6
2006     8
2007     7
2008     9
2009    12
2010     9
2011     7
2012     7
2013     5
2014     6
2015     6
2016     4
2017     1
Name: year, dtype: int64

### What are the 10 most frequent roles that start with the phrase "Patron in"?

In [97]:
cast[cast.character.str.startswith("Patron in")].character.value_counts().head(10)

Patron in Frisky Rabbit         16
Patron in Chinese Restaurant     9
Patron in the Coffee House       9
Patron in Billiard Parlor        5
Patron in Bar                    4
Patron in restaurant             4
Patron in Restaurant             3
Patron in cabaret                3
Patron in Club                   3
Patron in Quiet Bar              2
Name: character, dtype: int64

### What are the 10 most frequent roles that start with the word "Science"?

In [98]:
cast[cast.character.str.startswith("Science")].character.value_counts().head(10)

Science Teacher         60
Science Fair Student     9
Science Student          9
Science Fair Judge       6
Science Reporter         5
Science Promo Cadet      5
Science Kid              5
Science Club Member      5
Science                  4
Science teacher          3
Name: character, dtype: int64

### Count number of n-values of the roles that Judi Dench has played over her career.

In [102]:
cast[cast.name=='Judi Dench'].n.value_counts()

3.0     6
1.0     6
2.0     6
7.0     4
4.0     4
6.0     4
12.0    3
5.0     2
18.0    2
16.0    2
13.0    2
23.0    1
26.0    1
20.0    1
40.0    1
8.0     1
29.0    1
9.0     1
Name: n, dtype: int64

### Count number of n-values of Cary Grant's roles through his career.

In [103]:
cast[cast.name=='Cary Grant'].n.value_counts()

1.0     46
2.0     20
9.0      2
3.0      2
10.0     2
5.0      1
8.0      1
4.0      1
Name: n, dtype: int64

### Count number of n-value of the roles that Sidney Poitier has acted over the years.

In [104]:
cast[cast.name=='Sidney Poitier'].n.value_counts()

1.0     21
2.0      8
3.0      6
4.0      3
21.0     1
13.0     1
5.0      1
10.0     1
Name: n, dtype: int64

### How many leading (n=1) roles were available to actors, and how many to actresses, in the 1950s?

In [108]:
cast[(cast.year//10*10==1950)&(cast.n==1)].type.value_counts()

actor      6616
actress    2965
Name: type, dtype: int64

### How many supporting (n=2) roles were available to actors, and how many to actresses, in the 1950s?

In [109]:
cast[(cast.year//10*10==1950)&(cast.n==2)].type.value_counts()

actor      4564
actress    4556
Name: type, dtype: int64